<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.s23010163.growstep">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />




    <!-- Required for Android 10+ if background location is used -->
    <!-- <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> -->

    <application
        android:allowBackup="true"
        android:label="GrowStep"
        android:icon="@drawable/app_icon"
        android:roundIcon="@drawable/growstep_background_app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.GrowStep">

        <!-- Google Maps API Key (works with SupportMapFragment) -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDYBJNepivTh_el0hCPhoEk8637bdBHhS8" />

        <!-- App Activities -->
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".Verification_code" />
        <activity android:name=".CreatePassword" />
        <activity android:name=".PersonalInfoActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".GroupsActivity" />
        <activity android:name=".CreateGroupWalkActivity" />
        <activity android:name=".StartWalkingActivity" />
        <activity android:name=".SeeMapActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".HistoryActivity" />
        <activity android:name=".ChallengesActivity" />
        <activity android:name=".RewardsActivity" />
        <activity android:name=".AchievementsActivity" />
        <activity android:name=".FriendsActivity" />


    </application>
</manifest>
